
.hero {
  &--active {
    padding-top: 178px;
  }
  &__wrapper {
    position: relative;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 35px 0 0;
  }
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 50px;
    color: $white;
  }
}
.hero-slider {
  &__slide {
    width: 100%;
    height: 745px;
  }
  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
 

  &__pagination {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bullet {
    background-color: $hero-bullet;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    &--active {
      background-color: $hero-bullet--active;
    }
  }
}

@media(max-width: 768px) {
  .hero {
    padding-top: 72px;
    &__title {
      font-size: 48px;
      color: $white;
    }
  }
  .hero-slider {
    &__slide {
      height: 435px;
    }
  }
}
@media(max-width: 378px) {
  .hero {
    &__title {
      font-size: 44px;
    }
  }
}

/* about */
.about {
  background-image: url('../images/content/about-bg.jpg');
  padding: 70px 0 40px;
  background-position: right 20% top 18%;
  background-repeat: no-repeat;
  background-size: 115%;
   &__inner {
    position: relative;

   }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    margin-bottom: 35px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 60px;
  }
  &__stats-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__stats-item {
    text-align: center;
    width: 265px;
    white-space: pre-line;
  }
  dt {
    font-size: 66px;
  }
  dd {
    @extend %calibri-300;
    font-size: 20px;
    margin: 0;
  }
  .about-slider {
    display: none;
    position: relative;
    padding-bottom: 60px;
    &__pagination {
      display: flex;
      gap: 15px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .about__stats-item {
      max-width: 360px;
      width: 100%;
      text-align: left;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__bullet {
      background-color: $hero-bullet;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
  
      &--active {
        background-color: $hero-bullet--active;
      }
    }
  }
}

@media(max-width: 1340px) {
  .about {
    background-size: auto;
  }
}

@media(max-width: 1110px) {
  .about {
    &__stats-desc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    &__stats-item {
      white-space: normal;

      dt {
        font-size: 61px;
      }
    }
  }
}

@media(max-width: 768px) {
  .about {
    background-image: url('../images/content/about-bg-mob.jpg');
    background-size: cover;
    background-position: right center;
    padding: 40px  0 20px;
    &__title {
      font-size: 45px;
      margin-bottom: 30px;
      text-align: center;
    }

    &__text {
      display: none;
    }
    &__stats-desc {
      display: none;
    }
   .about-slider {
    display: block;
   }
  }
}


/* partner */
.partner {
  padding: 130px 0 175px;
  &__title {
    @extend %calibri-700;
    font-size: 75px;
    color: $black;
    margin-bottom: 100px;
    text-align: center;
    
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px;
  }
  &__link {
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(-n+4) {
        // Первые 4 — верхний ряд
        flex: 20%;
        display: flex;
        justify-content: center;
      }
    &:nth-child(1) {
      justify-content: flex-start;
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
    &:nth-child(4) {
      justify-content: flex-end;
    }
  }
}

@media(max-width: 768px) {
  .partner {
    &__link {
      flex: 0;
      &:nth-child(1) {
        order: 5;
        justify-content: center;
        flex: 50%;
        img{
          width: 140px;
        }
      }
      &:nth-child(2) {
        order: 2;
        justify-content: center;
        flex: 50%;
        img {
          width: 116px;
        }
      }
     
      &:nth-child(3) {
        order: 4;
        justify-content: center;
        flex: 50%;
        img {
          width: 144px;
        }
      }
      &:nth-child(4) {
        order: 2;
        justify-content: center;
        flex: 30%;
        img{
          width: 134px;
        }
      }
      &:nth-child(5) {
        order: 3;
        justify-content: center;
        flex: 30%;
        img {
          width: 107px;
        }
      }
      &:nth-child(7) {
        order: 2;
        justify-content: center;
        flex: 15%;
        img {
          width: 65px;
        }
      }
      &:nth-child(6) {
        order: 1;
        justify-content: center;
        flex: 50%;
      }
    }
    
  }
}

/* rakuten-tv*/
.rakuten-tv {
  padding: 80px 0;
  background-image: url('../images/content/haier-rak-bg.jpg');
  background-position: right 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  &__img-mob {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__inner {
   display: flex;
   justify-content: flex-start;
  }
  &__content {
    width: 600px;
  }
  &__title-box {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    position: relative;
  }
  &__title-img {
    position: absolute;
    bottom: 7px;
    right: 100px;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1;
    margin-right: 15px;
  }
  &__text {
    font-size: 24px;
    @extend %calibri-700;
    margin-bottom: 30px;
  }
  &__btn {
    display: inline-block;
    margin-top: 60px;
    padding: 10px 75px;
    font-size: 24px;
    border: 2px solid $white;
    border-radius: 7px;
  }
}
@media(max-width: 768px) {
  .rakuten-tv {
    padding: 0 0 30px;
    background-image: url('../images/content/blue-bg.svg');
    background-size: cover;
    background-position: center center;
    &__img-mob {
      display: block;
    }
    &__inner {
      padding-top: 30px;
    }
    &__text {
      font-size: 18px;
    }
  }
}
@media(max-width: 680px) {
  .rakuten-tv {
    &__title {
      font-size: 55px;
    }
    &__title-box {
      flex-wrap: wrap;
    }
    &__title-img {
      position: static;
    }
  }
}
@media(max-width: 448px) {
  .rakuten-tv {
    &__text {
      font-size: 16px;
    }
  }
}
/* service */
.service {
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::before {
      background-image: url('../images/content/service-bg.jpg');
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: right 0;
      background-size: cover;
      width: 50%;
      height: 100%;
      left: 0;
    }
  }
  &__img {
    display: none;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__content {
    width: 540px;
    padding-bottom: 40px;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1;
    margin-bottom: 40px;
    color: $black;
  }
  &__subtitle {
    @extend %calibri-700;
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }
  &__decr {
    font-size: 18px;
    line-height: 1.6;
    color: $black;
    margin-bottom: 50px;
  }
  &__decr-tel{
    @extend %calibri-700;
    font-size: 24px;
    line-height: 1.25;
    color: $accent;
  }
  &__contact-title {
    @extend %calibri-400;
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 15px;
    color: $black;
  }
  &__contact-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__contact-item {
    color: $accent;
    font-size: 18px;
    line-height: 1.25;
    text-decoration: underline;
  }
}

@media(max-width: 1180px) {
  .service {
    &__content {
      width: 425px;
    }
    &__title {
      font-size: 45px;
    }
    &__subtitle {
      font-size: 22px;
    }
    &__decr-tel {
      font-size: 20px;
    }
  }
}
@media(max-width: 950px) {
  .service {
    &__inner{
      &::before {
        background-position: 75%;
      }
    }
    &__content {
      width: 345px;
    }
    &__contact-list {
      gap: 7px;
    }
  }
}
@media(max-width: 768px) {
  .service {
    padding-top: 400px;
    &__inner {
      flex-direction: row;
    &::before {
      background-image: url('../images/content/service-bg-mob.jpg');
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 395px;
      top: 0;
      left: 0;
      }
    }
    &__title,
    &__subtitle {
      margin-bottom: 15px;
    }
    &__content {
      width: 100%;
      padding-top: 40px;
    }
    &__decr {
      margin-bottom: 20px;
    }
    &__contact-list {
      gap: 10px;
    }
  }
}
@media(max-width: 378px) {
  .service {
    &__contact-item {
      font-size: 16px;
    }
  }
}

/* popup */
/*.popup {
  
   &--active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 50;
    overflow-y: auto;
  
  &__dialog {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 80px;
    background-color: $product-bg;
    position: relative;
  }
  &__panel {
    display: flex;
  }
  &__title {
    @extend %Montserrat-500;
    font-size: 30px;
    color: $product-black;
  }
  &__close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
}
} */
/* product */
/* .product {
  &__inner {
    display: flex;
    padding-top: 70px;
  }
  &__slider {
    width: 600px;
    display: flex;
    align-items: center;
    margin-left: -80px;
    margin-right: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content-link {
    @extend %Montserrat-600;
    font-size: 14px;
    line-height: 1.4;
    color: $white;
    padding: 10px 60px;
    text-align: center;
    border-radius: 30px;
    &--new {
      background-color: $pink;
      text-transform: uppercase;
    }
    &--buy {
      background-color: $blue-accent;
    }
  }
  ul.product__nav-list {
    margin: 25px 0 40px;
  }
  &__nav-item {
    display: flex;
    gap: 5px;
    font-size: 16px;
    color: $product-black;
  }
} */
/* .product-slider {
  &__big {
    width: 500px;
  }
  &__big-item {
    width: 100%;
  }
  &__big-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__thumb-wrapper {
    width: 100px;
    text-align: center;
  }
  &__thumb{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__pagination {
    display: none;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $product-bullet;
    &--active {
      background-color: $product-bullet-active;
    }
  }
} */
/* .product-descr {
  padding-top: 110px;
} */

/* .product-tabs {
  &__nav {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 30px;
  }
  &__nav-item {
    font-size: 16px;
    color: $product-black;
    padding-bottom: 28px;
    position: relative;
    &--active {
      position: relative;
      color: $blue-accent;
     &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: $blue-accent;
     }
    }
    &:hover {
      color: $blue-accent;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: $blue-accent;
      }
    }
  }
  &__content-item {
    display: none;
    &--active {
      display: block;
    }
  }
  &__content-title {
    @extend %Montserrat-500;
    color: $product-black;
    font-size: 24px;
    margin-bottom: 25px;
  }
} */

/* table in tabs */
/* .table {
  &__header {
    background-color: $table-grey;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  &__title {
    @extend %Montserrat-500;
    color: $product-black;
    font-size: 18px;
  }
  &__item {
    @extend %Montserrat-500;
    font-size: 14px;
    color: $product-black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 10px 10px 25px;
    border-bottom: 1px solid $table-grey;
    &--specs {
      grid-template-columns: 1fr 1fr;
    }
  }
} */
/* @media(max-width: 1650px) {
  .top-wrapper {
    &::after {
      top: 0;
      width: 25%;
    }
  }
  .promo {
    &__img {
      left: 0;
    }
  }
}
@media(max-width: 1440px) {
  .top-wrapper {
    &::before,
    &::after {
      content: none;
    }
  }
}
@media(max-width: 1240px) {
  .baner-slider {
    &__bg {
      height: 430px;
    }
    &__container {
      justify-content: center;
    }
    &__content {
      padding: 0 0 60px;
      justify-content: flex-end;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__img {
      display: none;
    }
  }
  .warranty {
    &__img {
      max-width: 589px;
    }
  }
}

@media(max-width: 1180px) {
  .partner {
    &__list {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
  .promo {
    padding-top: 0;
    &__inner {
      padding-top:580px;
      justify-content: center;
    }
    &__img {
      left: 50%;
      top: 0;
      transform: translate(-50%,0);
      max-width: 512px;
      width: 100%;
      z-index: -1;
    }
  }
}
@media(max-width: 998px) {
  .popup {
    &__dialog{
      padding: 60px;
    }
    &__title {
      display: none;
    }
  }
  .product {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__slider {
      width: 100%;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right:auto; 
      position: relative;
    }
    &__content {
      max-width: 410px;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    ul.product__nav-list {
      order: 1;
      margin: 50px auto;
    }
    &__nav-item {
      justify-content: center;
    }
    &__content-link {
      order: 2;
      margin-right: 0px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .product-slider{
    &__big {
      width: 100%;
    }
    &__thumb-wrapper {
      display: none;
    }
    &__pagination {
      display: flex;
    }
  }
}
@media(max-width: 860px) {
.hero-slider {
    &__bg {
      background-position: top;
      background-image: url('../images/hero/slider-item-mob.webp');
    }
    &__logo {
      display: none;
    }
    &__content {
      max-width: 350px;
      padding: 0 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
    }
    &__container {
      justify-content: center;
    }
    &__subtitle {
      margin-top: 0;
      font-size: 38px;
    }
  }
.warranty {
    position: relative;

    &__img {
      max-width: 432px;
      top: 0;
      right: 0;
      left: 0;
      transform: translate(0,0);
    }

    &__inner {
      padding-top: 329px;
      position: static;
      justify-content: center;
    }
  }
}
@media(max-width: 748px) {
  .promo{
    &__title,
    &__subtitle {
     text-align: center;
    }
  }
}
@media(max-width: 578px) {
  .top-wrapper {
    position: relative;
    &::before {
    background-image: url('../images/content/about-s.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      content: '';
      width: 50%;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
  .hero-slider {
    position: relative;
    &::after {
        position: absolute;
        background-image: url('../images/content/about-bg-mob.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width: 100%;
        top: 50%;
        bottom: 0;
        right: 0;
      }
    &__content {
      padding: 0 0 50px;
    }
  }
  .about {
    padding: 60px 0 45px;
    &__title {
      font-size: 32px;
      text-align: center;
    }
    &__text {
      font-size: 14px;
      line-height: 1.7;
      &--desctop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
    &__read-more {
      display: block;
    }
  }

  .baner-slider {
    &__slide {
      height: 730px;
    }

    &__bg {
      background-position: center left;
    }

    &__content {
      text-align: center;

      p {
        font-size: 14px;
      }
    }

    &__title {
      font-size: 32px;
    }
  }
  .catalog {
    padding: 20px 0 100px;
    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
  .catalog-card {
    justify-content: center;
    ul.catalog-card__size-list {
      justify-content: center;
    }
    &__title-box {
      text-align: center;
    }
  }
  .partner {
    padding-top: 0;
    &__list {
      gap: 20px;
    }
  }
.tobuy {
  background-image: url('../images/content/toby-bg-s.webp');
}
  .warranty {
    padding-bottom: 0;
    &__title {
      font-size: 28px;
      p {
        width: 310px;
      }
    }
    &__highlight {
      font-size: 72px;
    }
  }
  .promo {
    position: relative;
    &__inner {
      position: static;
      padding-top: 540px;
    }
    &__title{
      font-size: 28px;
    }
  }
  .popup {
    &__dialog {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .product-tabs {
    &__nav {
      margin-bottom: 15px;
      padding: 0 40px;
    }
    &__content-title {
      padding: 0 40px;
    }
  }
  .product-descr {
    padding-top: 80px;
  }
  .table{
    &__header {
      padding-left: 40px;
      padding-right: 40px;
    }
    &__item {
      padding-left: 40px;
    }
  }
}
@media(max-width: 440px) {
  .warranty {
    &__inner {
      padding-top: 330px;
    }
    &__img {
      left: -30px;
    }
    &__title {
      font-size: 30px;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        width: 100%;
      }
    }

    &__highlight {
      font-size: 72px;
    }
  }
} */


