
.hero {
  padding-top: 65px;
  &__wrapper {
    position: relative;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 100px 0 0;
  }
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 50px;
    color: $white;
  }
}
.hero-slider {
  &__slide {
    width: 100%;
    height: 745px;
  }
  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
 

  &__pagination {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bullet {
    background-color: $hero-bullet;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    &--active {
      background-color: $hero-bullet--active;
    }
  }
}

@media(max-width: 768px) {
  .hero {
    padding-top: 72px;
    &__content {
      padding-top: 50px;
    }
    &__title {
      font-size: 48px;
      color: $white;
    }
  }
  .hero-slider {
    &__slide {
      height: 435px;
    }
  }
}
@media(max-width: 378px) {
  .hero {
    &__title {
      font-size: 44px;
    }
  }
}

/* about */
.about {
  background-image: url('../images/content/about-bg.jpg');
  padding: 70px 0 40px;
  background-position: right 20% top 18%;
  background-repeat: no-repeat;
  background-size: 120%;
   &__inner {
    position: relative;

   }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    margin-bottom: 35px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 60px;
  }
  &__stats-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__stats-item {
    text-align: center;
    width: 265px;
    white-space: pre-line;
  }
  dt {
    font-size: 66px;
  }
  dd {
    @extend %calibri-300;
    font-size: 20px;
    margin: 0;
  }
  .about-slider {
    display: none;
    position: relative;
    padding-bottom: 60px;
    &__pagination {
      display: flex;
      gap: 15px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .about__stats-item {
      max-width: 360px;
      width: 100%;
      text-align: left;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__bullet {
      background-color: $hero-bullet;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
  
      &--active {
        background-color: $hero-bullet--active;
      }
    }
  }
}

@media(max-width: 1340px) {
  .about {
    background-size: cover;
  }
}

@media(max-width: 1180px) {
  .about {
    &__stats-desc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    &__stats-item {
      white-space: normal;

      dt {
        font-size: 61px;
      }
    }
  }
}
@media(max-width: 768px) {
  .about {
    background-image: url('../images/content/about-bg-mob.jpg');
    background-size: cover;
    background-position: right center;
    padding: 40px  0 20px;
    &__title {
      font-size: 45px;
      margin-bottom: 30px;
      text-align: center;
    }

    &__text {
      display: none;
    }
    &__stats-desc {
      display: none;
    }
   .about-slider {
    display: block;
   }
  }
}


/* multibaner */
.mutibaner {
  &__wrapper {
    position: relative;
  }
}
.mutibaner-slider {
  &__slide {
    height: 750px;
    width: 100%;
  }
  &__pagination {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__bullet {
    background-color: $hero-bullet;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;

    &--active {
      background-color: $hero-bullet--active;
    }
  }
}
.feature {
  padding: 70px 0 30px;
  &__inner  {
    display: flex;
    justify-content: space-between;
  }
  &__left-box {
    margin-right: 18px;
    margin-bottom: -30px;
    max-width: 512px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__left-top {
    width: 320px;
    text-align: right;
    margin-bottom: 60px;
    margin-left: auto;
  }
  &__title {
    color: $black;
    @extend %calibri-700;
    &--top {
      font-size: 70px;
      line-height: 1.2;
    }
    &--left {
      font-size: 40px;
      @extend %calibri-400;
    }
    &--right-bottom {
      font-size: 46px;
      line-height: 1;
    }
  }
  &__text {
    color: $black;
    font-size: 20px;
  }
  &__img {
    width: auto;
    height: auto;
    object-fit: cover;
    &--right-top {
      width: 100%;
      height: 337px;
    }
    &__left-img {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__right-box {
    max-width: 670px;
    width: 100%;
  }
  &__right-bottom-box {
    max-width: 320px;
    width: 100%;
  }
  &__right-bottom {
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
  }
  &__left-midle-box {
    max-width: 370px;
    width: 100%;
  }
}
.syncing {
  padding: 60px 0 75px;
  
  &__slider {
    display: flex;
    justify-content: space-between;
  }
}
.syncing-slider {
  width: 100%;
  &__big {
    width: 750px;
    margin-right: 100px;
  }
  &__big-item {
    width: 100%;
  }
  &__big-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__thumb-wrapper {
    text-align: left;
  }
  &__thumb{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__thumb-img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  &__thumb-box {
    margin-top: 10px;
    color: $black;
  }
  &__thumb-item-title {
    @extend %calibri-700;
    font-size: 32px;
  }
  &__thumb-item-text {
    font-size: 18px;
  }
  &__pagination {
    display: none;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $product-bullet;
    &--active {
      background-color: $product-bullet-active;
    }
  }
}
.hdr,
.qled,
.oled {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hdr {
  background-image: url('../images/miltibaner/hdr.jpg');
  padding-bottom: 170px;
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  &__subtitle {
    @extend %calibri-700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.38;
  }
}
.qled {
  background-image: url('../images/miltibaner/qled.jpg');
  padding-bottom: 70px;
  &__content {
    max-width: 475px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend %calibri-700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.38;
  }
}
.oled {
  background-image: url('../images/miltibaner/oled.jpg');
  padding-bottom: 60px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__content-box {
    max-width: 510px;
    width: 100%;
    margin-bottom: 150px;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  &__subtitle {
    @extend %calibri-700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.38;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: 300px;
    text-align: center;
    padding: 0 40px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 70px;
      top: 5px;
      right: 0;
      background-color: $white;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding: 0 50px;
    }
  }
  &__item-title {
    @extend %calibri-700;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 18px;
  }
}
@media(max-width: 1180px) {
  .feature {
    &__left-box {
      margin-bottom: 0;
    }
    &__title {
      &--right-bottom {
        font-size: 32px;
      }
    }
  }
  .syncing {
    padding-top: 30px;
  }
  .syncing-slider {
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__big {
      margin: 0 0 10px 0;
    }
    &__big-img {
      width: 80%;
      margin: 0 auto;
    }
    &__thumb {
      flex-direction: row;
    }
    &__thumb-wrapper {
      text-align: center;
    }
    &__thumb-img {
      margin: 0 auto;
      width: 80%;
    }
  }
}
@media(max-width: 1080px) {
  .feature {
    &__img--right-top {
      height: auto;
    }
    &__left-box{
      justify-content: center;
    }
    &__right-bottom {
      display: block;
    }
    &__right-bottom-box {
      padding-top: 20px;
      max-width: 100%;
    }
  }
}
@media(max-width: 840px) {
  .oled {
    &__item {
      width: 250px;
      padding: 0 20px;
      &:last-child  {
        padding: 0 20px;
      }
    }
  }
}
@media(max-width: 768px) {
  .mutibaner-slider {
    &__slide {
      height: 670px;
    }
  }
  .feature {
    padding: 0 0 60px;
    background-image: url('../images/miltibaner/future-bg-mob.jpg');
      height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__inner{
      height: 100%;
      flex-direction: column;
    }
    &__left-box {
      margin-right: 0;
      margin-bottom: 30px;
    }
    &__right-bottom {
      padding-top: 0;
    }
    &__right-bottom-box {
      padding-top: 0;
    }
    
    &__left-top {
      margin: 0 0 30px 0;
      text-align: left;
      width: 100%;
    }
    &__img {
      display: none;
    }
    &__title {
      font-size: 32px !important;
      margin-bottom: 5px;
    }
    &__text {
      font-size: 16px !important;
    }
    
  }
  .hdr {
    background-image: url('../images/miltibaner/hdr-mob.jpg');
    background-position: center top;
    padding-bottom: 105px;
    &__content{
      max-width: 350px;
      width: 100%;
    }
    &__title {
      font-size: 45px;
      margin-bottom: 20px;
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__text {
      font-weight: 300;
      font-size: 20px;
    }
  }
  .qled {
    background-image: url('../images/miltibaner/qled-mob.jpg');
    background-position: center top;
    padding-bottom: 85px;
    &__title {
      font-size: 45px;
      margin-bottom: 15px;
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__text {
      font-weight: 300;
      font-size: 20px;
    }
  }
  .syncing {
    background-image: url('../images/miltibaner/syncing-mob.jpg');
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-top: 0;
  }
  .syncing-slider {
    display: block;
    &__big {
      display: none;
    }
    &__thumb {
      display: block;
    }
    &__thumb-wrapper {
      text-align: left;
    }
    &__thumb-box {
      margin-top: 0;
    }
    &__thumb-img {
        display: none;
    }
    &__thumb-item-title {
      font-size: 28px;
    }

    &__thumb-item-text {
      font-size: 16px;
    }
  }
  .oled {
    background-image: url('../images/miltibaner/oled-mob.jpg');
    background-position: center top;
    padding-bottom: 60px;
    &__content-box {
      margin-bottom: 0;
    }
    &__title {
      font-size: 45px;
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__text {
      font-weight: 300;
      font-size: 20px;
    }
    &__list {
      display: none;
    }
  }
}
@media(max-width: 548px) {
  .feature,
  .syncing {
    padding-bottom: 80px;
    background-position: center center;
  }
  .hdr,
  .qled,
  .oled {
    background-position: center center;
  }
  .oled  {
    padding-bottom: 80px;
  }
  .syncing-slider{
    &__thumb-item-title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    &__thumb-box {
      margin-bottom: 25px;
    }
  }
}
@media(max-width: 478px) {
  .feature {
    &__title {
      font-size: 26px !important;
    }
  }
}
/* partner */
.partner {
  padding: 130px 0 175px;
  &__title {
    @extend %calibri-700;
    font-size: 75px;
    color: $black;
    margin-bottom: 100px;
    text-align: center;
    
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px;
  }
  &__link {
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(-n+4) {
        // Первые 4 — верхний ряд
        flex: 20%;
        display: flex;
        justify-content: center;
      }
    &:nth-child(1) {
      justify-content: flex-start;
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
    &:nth-child(4) {
      justify-content: flex-end;
    }
  }
}

@media(max-width: 768px) {
  .partner {
    &__link {
      flex: 0;
      &:nth-child(1) {
        order: 5;
        justify-content: center;
        flex: 50%;
        img{
          width: 140px;
        }
      }
      &:nth-child(2) {
        order: 2;
        justify-content: center;
        flex: 50%;
        img {
          width: 116px;
        }
      }
     
      &:nth-child(3) {
        order: 4;
        justify-content: center;
        flex: 50%;
        img {
          width: 144px;
        }
      }
      &:nth-child(4) {
        order: 2;
        justify-content: center;
        flex: 30%;
        img{
          width: 134px;
        }
      }
      &:nth-child(5) {
        order: 3;
        justify-content: center;
        flex: 30%;
        img {
          width: 107px;
        }
      }
      &:nth-child(7) {
        order: 2;
        justify-content: center;
        flex: 15%;
        img {
          width: 65px;
        }
      }
      &:nth-child(6) {
        order: 1;
        justify-content: center;
        flex: 50%;
      }
    }
    
  }
}

/* rakuten-tv*/
.rakuten-tv {
  padding: 80px 0;
  background-image: url('../images/content/haier-rak-bg.jpg');
  background-position: right 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  &--singlPage {
    padding: 160px 0;
  }
  &__img-mob {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__inner {
   display: flex;
   justify-content: flex-start;
  }
  &__content {
    width: 600px;
  }
  &__title-box {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    position: relative;
  }
  &__title-img {
    position: absolute;
    bottom: 7px;
    right: 100px;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1;
    margin-right: 15px;
  }
  &__text {
    font-size: 24px;
    @extend %calibri-700;
    margin-bottom: 30px;
  }
  &__btn {
    display: inline-block;
    margin-top: 60px;
    padding: 10px 75px;
    font-size: 24px;
    border: 2px solid $white;
    border-radius: 7px;
  }
}
@media(max-width: 768px) {
  .rakuten-tv {
    padding: 0 0 30px;
    background-image: url('../images/content/blue-bg.svg');
    background-size: cover;
    background-position: center center;
    &__img-mob {
      display: block;
    }
    &__inner {
      padding-top: 30px;
    }
    &__text {
      font-size: 18px;
    }
  }
}
@media(max-width: 680px) {
  .rakuten-tv {
    &__title {
      font-size: 55px;
    }
    &__title-box {
      flex-wrap: wrap;
    }
    &__title-img {
      position: static;
    }
  }
}
@media(max-width: 448px) {
  .rakuten-tv {
    &__text {
      font-size: 16px;
    }
  }
}
/* service */
.service {
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::before {
      background-image: url('../images/content/service-bg.jpg');
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: right 0;
      background-size: cover;
      width: 50%;
      height: 100%;
      left: 0;
    }
  }
  &__img {
    display: none;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__content {
    width: 540px;
    padding-bottom: 40px;
  }
  &__title {
    @extend %calibri-700;
    font-size: 74px;
    line-height: 1;
    margin-bottom: 40px;
    color: $black;
  }
  &__subtitle {
    @extend %calibri-700;
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }
  &__decr {
    font-size: 18px;
    line-height: 1.6;
    color: $black;
    margin-bottom: 50px;
  }
  &__decr-tel{
    @extend %calibri-700;
    font-size: 24px;
    line-height: 1.25;
    color: $accent;
  }
  &__contact-title {
    @extend %calibri-400;
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 15px;
    color: $black;
  }
  &__contact-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__contact-item {
    color: $accent;
    font-size: 18px;
    line-height: 1.25;
    text-decoration: underline;
  }
}

@media(max-width: 1180px) {
  .service {
    &__content {
      width: 425px;
    }
    &__title {
      font-size: 45px;
    }
    &__subtitle {
      font-size: 22px;
    }
    &__decr-tel {
      font-size: 20px;
    }
  }
}
@media(max-width: 950px) {
  .service {
    &__inner{
      &::before {
        background-position: 75%;
      }
    }
    &__content {
      width: 338px;
    }
    &__contact-list {
      gap: 7px;
    }
  }
}
@media(max-width: 768px) {
  .service {
    padding-top: 400px;
    &__inner {
      flex-direction: row;
    &::before {
      background-image: url('../images/content/service-bg-mob.jpg');
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 395px;
      top: 0;
      left: 0;
      }
    }
    &__title,
    &__subtitle {
      margin-bottom: 15px;
    }
    &__content {
      width: 100%;
      padding-top: 40px;
    }
    &__decr {
      margin-bottom: 20px;
    }
    &__contact-list {
      gap: 10px;
    }
  }
}
@media(max-width: 378px) {
  .service {
    &__contact-item {
      font-size: 16px;
    }
  }
}

.promo {
  &__item {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }
  &__inner {
    padding: 100px 0 0;
  }
  &__content {
    &--two {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .promo__title-box {
        max-width: 480px;
        width: 100%;
      }
    }
  }
  &__title-box {
    max-width: 450px;
    width: 100%;
  }
  &__title{
    display: block;
    @extend %calibri-700;
    font-size: 49px;
    color: $white;
    margin-bottom: 30px;
  }
  &__subtitle {
    @extend %calibri-300;
    font-size: 22px;
    margin-bottom: 25px;
  }
  &__size-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 145px;
  }
  &__size-btn {
    font-size: 20px;
    padding:19px 20px;
    width: 63px;
    height: 63px;
    border: 1px solid $white;
    color: $white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    &::after {
      position: absolute;
      content: '"';
      right: 13px;
    }
    &--active {
      background-image: url('../images/icon/elips-active.svg');
    }
    &:hover {
      background-image: url('../images/icon/elips-active.svg');
    }
  }
  &__benefits-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
}
@media(max-width: 768px){
  .promo {
    &__item {
      padding-bottom: 60px;
      &--one {
        background-image: url('../images/baner/baner-1-mob.jpg') !important;
      }
      &--two {
        background-image: url('../images/baner/baner-2-mob.jpg') !important;
      }
      &--tree {
        background-image: url('../images/baner/baner-3-mob.jpg') !important;
      }
      
     }
     &__inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding-top: 0;
     }
      &__content {
        &--two {
          display: block;
          .promo__title-box {
            max-width: 100%;
          }
        }
      }
     &__title {
      font-size: 45px;
      margin-bottom: 15px;
     }
     &__subtitle {
      font-size: 20px;
     }
     &__size-icon {
      height: 50px;
     }
     &__size-group {
      margin-bottom: 0;
      gap: 10px;
      flex-wrap: wrap;
     }
     &__size-btn {
      width: 50px;
      height: 50px;
      font-size: 15px;
      padding: 10px;
      &::after {
        right: 10px;
      }
    
      &--active {
        background-image: url('../images/icon/elips-active-mob.svg');
      }
    
      &:hover {
        background-image: url('../images/icon/elips-active-mob.svg');
      }
     }
     &__benefits-img {
      display: none;
     }
  }
}
@media(max-width: 548px) {
  .promo {
    &__item {
      height: 670px;
    }
  }
}
/* popup */
.popup {
   &--active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 50;
    overflow-y: auto;
   }

  &__dialog {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 80px;
    background-color: $white;
    position: relative;
    &--rakuten {
      max-width: 586px;
      width: 100%;
      padding: 0;
    }
  }
  &__panel {
    display: flex;
  }
  &__title {
    @extend %calibri-700;
    font-size: 30px;
    color: $black;
  }
  &__close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  
}

/* product */
.product {
  &__inner {
    display: flex;
    padding-top: 70px;
  }
  &__slider {
    width: 400px;
    display: block;
    margin-right: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  &__content-link {
    font-size: 20px;
    line-height: 1.2;
    color: $white;
    text-align: center;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:active {
      color: black;
    }
    &--new {
      padding: 14px 40px;
      background-color: $yelloe;
      text-transform: uppercase;
    }
    &--buy {
      font-size: 24px;
      padding: 14px 84px;
      background-color: $aquamarine;
    }
  }
  ul.product__nav-list {
    margin: 25px 0 40px;
  }
  &__nav-item {
    display: flex;
    gap: 5px;
    font-size: 16px;
    color: $black;
  }
}
.product-slider {
  &__big {
    width: 400px;
    margin-left: -20px;
  }
  &__big-item {
    width: 100%;
  }
  &__big-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__thumb-wrapper {
    text-align: center;
  }
  &__thumb{
    display: flex;
    gap: 25px;
  }
  &__thumb-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__pagination {
    display: none;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $product-bullet;
    &--active {
      background-color: $product-bullet-active;
    }
  }
}
.product-descr {
  padding-top: 110px;
}

.product-tabs {
  &__nav {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 25px;
  }
  &__nav-item {
    @extend %calibri-400;
    font-size: 20px;
    color: $black;
    padding-bottom: 20px;
    position: relative;
    transition: all .3s;
    &::after {
      width: 0%;
      transition: all .3s;
      position: absolute;
      content: '';
    }
    &--active {
      position: relative;
      color: $aquamarine;
     &::after {
      transition: all .3s;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      bottom: 0;
      background-color: $aquamarine;
     }
    }
    &:hover {
      color: $aquamarine;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 0;
        background-color: $aquamarine;
      }
    }
  }
  &__content-item {
    display: none;
    &--active {
      display: block;
    }
  }
  &__content-title {
    @extend %calibri-700;
    font-size: 24px;
    margin-bottom: 25px;
    color: $black;
  }
}

/* table in tabs */
.table {
  color: $black;
  &__header {
    background-color: $grey-light;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  &__title {
    @extend %calibri-700;
    font-size: 22px;
    color: $black;
    line-height: 2;
  }
  &__item {
    font-size: 20px;
    line-height: 2.2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 10px 10px 25px;
    border-bottom: 1px solid $accent;
    &--specs {
      grid-template-columns: 1fr 1fr;
    }
  }
}



@media(max-width: 950px) {
  .product {
    &__slider {
      margin-right: 20px;
    }
    &__content-link {
      &--buy {
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
 @media(max-width: 768px) {
   .popup {
     &__dialog {
       padding: 60px;
     }

     &__title {
       display: none;
     }
   }

   .product {
     &__inner {
       flex-wrap: wrap;
       justify-content: center;
     }

     &__slider {
       width: 100%;
       flex-wrap: wrap;
       margin-left: auto;
       margin-right: auto;
       position: relative;
     }

     &__content {
       display: block;
     }

     &__content-box {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       gap: 0 20px;
       padding: 0px 10px 0 10px;
     }

     ul.product__nav-list {
       order: 1;
       margin: 50px auto;
       flex: 100%;
     }

     &__nav-item {
       justify-content: center;
     }

     &__content-link {
       order: 2;
       margin-right: 0px;
       flex: 40%;

       &:last-child {
         margin-right: 0px;
       }

       &--buy,
       &--buy {
         padding-left: 30px;
         padding-right: 30px;
       }
     }
   }

   .product-slider {
     &__big {
       width: 100%;
       margin: 0;
     }

     &__thumb-wrapper {
       display: none;
     }

     &__pagination {
       display: flex;
     }
   }
 }
@media(max-width: 578px) {
  .popup {
    &__dialog {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .product-tabs {
    &__nav {
      margin-bottom: 15px;
      padding: 0 20px;
    }
    &__nav-item {
      font-size: 18px;
    }
    &__content-title {
      padding: 0 20px;
    }
  }
  .product-descr {
    padding-top: 80px;
  }
  .table{
    &__header {
      padding-left: 40px;
      padding-right: 40px;
    }
    &__item {
      font-size: 18px;
      padding-left: 30px;
      line-height: 1.2;
    }
    &__cell {
      padding-left: 10px;
    }
  }
}



