$black: #000000;
$white: #ffffff;
$accent: #004ea2;
$aqua: #2db5f5;
$hero-bullet: #9e958b;
$hero-bullet--active: #d7cfc2;
$grey: #808080;
$grey-light: #e9e9e9;
$placeholder: #acacac;
$input-grey: #e2e2e2;
$product-bg: #e3effa;
$yelloe: #feca65;
$aquamarine: #2cb4f4;
$product-bullet: #cbe0f3;
$product-bullet-active: #9dbedd;

%calibri-300 {
  font-family: 'calibri_light';
  font-weight: 300;
}
%calibri-400 {
  font-family: 'Calibri';
  font-weight: 400;
}
%calibri-700 {
  font-family: 'Calibri Bold';
font-weight: 700;
}


 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }